.home{
    position: relative;
    .header{
        position:fixed;
        top:0;
        left:0;
        right:0;
        width: 100%;
        height:1.33rem;
        z-index: 10000;
        background:#06c1ae;
        display: flex;
        justify-content: flex-start;
        .site{
            flex:1;
            width:1.263rem;
            height:100%;
            color:#FFf;
            font-size:.42rem;
            text-align: center;
            line-height:1.33rem;
        }
        .search{
            flex:5;
            text-align: center;
            background:#06c1ae;
           form{
               background:#06c1ae;
               height:100%;
               color:#fff;
               .am-search-input{
                background: rgba(17,88,81,.11);
                   .am-search-synthetic-ph{
                       .am-search-value{
                            border-radius: 25%;
                       }
                       .am-search-value ::-webkit-input-placeholder {
                        color:#999;
                       }
                       .am-search-cancel {
                           color:#fff;
                       }
                   }
               }
           }
        }

    }
    .banner{
        position: absolute;
        width:100%;
        height: 3.733rem;
        top:1.33rem;
        left:0;
        right: 0;
    }
    .menu{
        z-index: 100;
        width:100%;
        height:4.58rem;
        position: absolute;
        top:5.1rem;
        left:0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .am-grid{
            width:100%;
            height:4.58rem;
        img{
            width:2.067rem;
            height:2.067rem;
        }
        }
       
    }   
    .news{
        position: absolute;
        top:9.1rem;
        left:0;
        right:0;
        height:1.5rem;
        border-top: .0267rem solid #eee;
        background: #fff;
        display: flex;
        justify-content: space-between;
        .title{
            display: inline-block;
            color:rgb(230, 6, 6);
            font-size: .48rem;
            font-weight: 700;
            width:1.5rem;
            margin:.17rem;
            letter-spacing: .16rem;
            font-style: italic;
            font-family:'微软雅黑';
            border-right:.0267rem solid #eee; 
        }
        .notice{
            flex:1;
            color:#999;
            font-size: 14.373;
            margin:.533rem auto;
            display: inline-block;
        }
    }
    .serve{
        width:100%;
        height:4.8rem;
        position:absolute;
        top:10.6rem;
        left:0;
        right:0;
        margin-top: .267rem;
        display: flex;
        justify-content: space-between;
        .left{
            flex:1;
            border-right:.0267rem solid rgb(243, 242, 242);
            img{
                width:100%;
            }
        }
        .right{
            flex:1;
            width:100%;
            height:100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .right-top,.right-bot{
                flex:1;
                // height: 50%;
                // width:100%;
                img{
                    width:100%;
                }
            }
            .right-top{
                border-bottom: .0267rem solid #fff;
                box-sizing: border-box;
            }
        }
    }
    .classify{
        position: absolute;
        top:16rem;
        left:0;
        right:0;
        border:.0267rem solid #eee;
        // box-shadow: 2rem 2rem 1rem #ccc; 
        .classifyBox{
            width: 100%;
            height:1.3rem;
            line-height: 1.3rem;
            color:#06c1ae;
            font-size:.373rem;
            padding-left:.267rem;
            box-sizing: border-box;
            background:#fff;
            border-bottom: .0267rem solid rgb(238, 237, 237);
        }
        .like,.no{
            width:100%;
            height:1.067rem;
            line-height: 1.067rem;
            margin-top:.267rem;
            color:#777;  
            font-size:.373rem; 
            background:#fff; 
            padding-left:.267rem;
            box-sizing: border-box;
        }
        .no{
            width:100%;
            height:1.067rem;
            text-align: center;
            background:none; 
            background:#fff;
        }
    }

}