@import './common';

// .goods-item{
//     padding:10px;font-size:14px;
//     img{display:block;margin:0 auto 10px;width:80%;}
//     p{margin:5px 0;}
// }
// #root,.container{@extend body;}
// .container{display:flex;flex-direction: column;}
// .container>.content{flex:1;overflow-y:auto;}
// .container>.am-tab-bar{height:rem(50);}