*{
	margin:0;
	padding:0;
}
ul{
	width:180px;
	height:50px;
	margin:10px auto;
	background:yellowgreen;
}
li{

	list-style: none;
	color:red;
	float: left;
}
a{
	text-decoration:none;
}
body{
	width:100%;
}
h5{
	color:rgb(253, 247, 247);
	width: 190px;
	background:rgb(187, 146, 146);
}
